<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073608485102-6vs5rr8cg796lp9d504m74m5i76lflcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073608485102-6vs5rr8cg796lp9d504m74m5i76lflcf</string>
	<key>API_KEY</key>
	<string>AIzaSyDk9G9GgtZbRSEQbXn959XLoEQq8tevRz4</string>
	<key>GCM_SENDER_ID</key>
	<string>1073608485102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>l</string>
	<key>PROJECT_ID</key>
	<string>test-20839</string>
	<key>STORAGE_BUCKET</key>
	<string>test-20839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073608485102:ios:20332862bf56071108abff</string>
</dict>
</plist>